$primary: #029FC8;
$primaryHovered: #2acaf1;
$secondary-dark: #047D99;
$secondary-light: #28C4E8;
$secondary-bright: #6ADCEF;
$emphasis-normal: #E5A900;
$emphasis-30: #F4CA62;
$emphasis-60: #FFEABB;
$unable: #B0B0B0;
$danger: #c0392b;
$black: #0000;
