@import '../../../styles/colors';
@import '../../../styles/responsive';


.forgot_container {
    background-color: $primary;
    width: 100vw;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.forgot_box {
    width: 90%;
    max-width: 1000px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 40px;
    gap: 20px;


    img {
        @include xs {
            display: none;
        }

        @include lg {
            display: block;
        }
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
 
}


.forgot_input {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    position: relative;


    input {
        width: 100%;
        height: 60px;
        padding: 10px 35px;
        border-radius: 7px;
        outline: none;
        border: 1px solid $unable;
        font-family: inherit;


        &:focus {
            border: 2px solid $primary;
        }
    }
}



.bblogo {
    cursor: pointer;
    transition: all 0.2s ease-in;
 
    &:hover {
     transform: scale(1.1);
    }
 
 }


 .auth_box_formcontrol_icon {
    position: absolute;
    top: 58%;
    left: 10px;
 }