



.container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;


}




.main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;


  
}


.paragraph {
    width: 100vw;
    text-align: center;
}